[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
ocrmypdf = "*"
# explicit mention of reused dependencies of ocrmypdf
pillow = "*"
pikepdf = "*"

[dev-packages]

[requires]
# >= 3.7 is fine
# python_version = "3.7"
